@using QA_Application.Models
@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create a category</h3>

<form asp-action="AddCategory">
    <br/>
    <table>
        <tr>
            <td>
                <label asp-for="CategoryName"></label> 
            </td>
            <td>
                <input type="text" asp-for="CategoryName" required>
                <span asp-validation-for="CategoryName"></span>
            </td>
        </tr>
    </table>
    <br/>
    <input type="hidden" asp-for="Archive" value="No">
    <input class="btn btn-primary btn-sm" type="submit" value="submit">
    <a class="btn btn-secondary btn-sm" asp-area="Admin" asp-controller="Category" asp-action="Index">Back to List</a>
</form>