@using QA_Application.Models
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Archived Categories</h3>

<p>
    <a class="btn btn-secondary"  asp-action="Index">Back to List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Archive" asp-route-id="@item.CategoryId">Remove Archive</a>
                </td>
            </tr>
        }
    </tbody>
</table>