
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-success">Let's Help Each Other!</h1>

<div class="text-center">
    <img class="img-fluid m-2 rounded" src="~/images/young-black-man-fighting.webp">
</div>