
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-info">Let's help each other!</h1>

<div class="text-center">
    <img class="img-fluid m-2 rounded" src="~/images/No404.PNG">
</div>