@using QA_Application.ViewModels 
@model AddQuestionVM

@{
    @*@using Microsoft.AspNetCore.Identity*@
    ViewData["Title"] = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddQuestion</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="AddQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Category</label>
            <select name="CategoryId" asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))"></select>
            <span asp-validation-for="Question.CategoryId" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Question.UrgencyLevel" class="control-label"></label>
                <select name="UrgencyLevel" class="form-control">
                    <option value="1">1 Very Low</option>
                    <option value="2">2 Low</option>
                    <option value="3">3 Average</option>
                    <option value="4">4 High</option>
                    <option value="5">5 Vey High</option>
                </select>                
                <span asp-validation-for="Question.UrgencyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Title" class="control-label"></label>
                <input name="Title" class="form-control" required maxlength="100"/>
                <span asp-validation-for="Question.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionBody" class="control-label"></label>
                <textarea name="QuestionBody" class="form-control" rows="30" cols="100" required maxlength="7500"></textarea>
                <span asp-validation-for="Question.QuestionBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

